.calendar {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    position: relative;
}

.calendar-main {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calendar-content {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.white-block {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 60px;
    margin-top: 70px;
}

.block {

    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 40px;
    margin-top: 450px;


}

.chart-block {
    position: absolute;
    top: 80px;
    left: 80vh;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: -120px;
    margin-top: 10px;
}

.bar-block {
    position: absolute;
    top: 80px;
    left: 80vh;
    bottom: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: -20px;
    margin-top: 440px;
}



.circle-chart {
    position: relative;
    background: linear-gradient(45deg, #15151e7e, #0f0a6d65);
    border-radius: 8px;
    padding: 30px;
    height: 300px;
    width: 300px;
    box-shadow: 4px 2px 20px rgba(0, 0, 0, 0.1);
}




