.settings {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.settings-main {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings-content {
    flex: 1;
    display: flex;
    margin-left: 40px;
    width: 90%;
    height: 100%;
    flex-direction: column;
    margin-top: 20px;
}

.notifications-settings {
    margin-top: 60px;
}

.notifications-settings h3 {
    color: #7ea1f3;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.notifications-settings .notification-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #1c71e1;
}

.notifications-settings .notification-option label {
    color: #a0b7f0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.notifications-settings .notification-option input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
}


.theme-settings {
    margin-top: 0px;
}

.theme-settings h3 {
    color: #7ea1f3;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.theme-settings .theme-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #1c71e1;
}

.theme-settings .theme-option label {
    color: #a0b7f0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.theme-settings .theme-option select {
    padding: 10px;
    border: 1px solid #4583d4;
    border-radius: 10px;
    background-color: #14295d24;
    color: #f6f7f9;
    font-family: 'Quicksand', sans-serif;
}


.privacy-settings {
    margin-top: 0px;
}

.privacy-settings h3 {
    color: #7ea1f3;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.privacy-settings .privacy-option {
    padding: 10px 0;
    border-bottom: 1px solid #1c71e1;
}

.privacy-settings .privacy-option label {
    color: #a0b7f0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.privacy-settings .privacy-option button {
    background-color: #1c71e1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 30vh;
    transform: translate(15%, 0%);
}

.privacy-settings .privacy-option button:hover {
    background-color: #0549f3;
}