.tasks {
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-rows: 70px 1fr 50px;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
    font-family: Open Sans, sans-serif;
    background: radial-gradient(circle, #064dff,#0549f3,#101029, #191716);

}

.tasks-header {
    grid-area: header;
    background-color:#0549f32e;
    color: rgba(126, 161, 243, 0.682);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 100;
    font-size: 10px;
    padding: 0px 40px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;

}

.search-bar input {
    width: 100%;
    height: 50px;
    max-width: 400px;
    padding: 8px;
    background-color: #14295d24;
    border: 1px solid #4583d45e;
    border-radius: 20px;
    color: #f6f7f9;
    transition: border-color 0.3s ease;


}

.search-bar input:focus {
    outline: none;
    border-color: #007bff;
}

.search-bar input::placeholder {
    color: #a0b7f09a;
    opacity: 0.6;
}

.today-text{
    color: rgba(126, 161, 243, 0.682);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 100px;
    font-weight: 100;
    font-size: 10px;
    padding: 0px 40px;
}

.tasks-nav {
    grid-area: nav;
    background-color:#0549f319;
    padding: 50px;
}

.tasks-nav ul {
    list-style-type: none;
    padding: 0;
}

.tasks-nav li {
    margin-bottom: 50px;
}

.tasks-nav a {
    text-decoration: none;
    color: #3c80cd6a;
    font-size: 20px;
    font-family: 'IBM Plex Sans', 'Times New Roman', Times, serif;
}

.tasks-nav a:hover {
    color: #1c71e1;
}

.tasks-main {
    grid-area: main;
    padding: 20px;

}

.tasks-content {
    background: linear-gradient(45deg, #09093682, #27245e62);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks-footer {
    grid-area: footer;
    background-color:  #15151e3a;
    color: rgba(255, 255, 255, 0.437);
    display: flex;
    align-items: center;
    justify-content: center;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

